<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.arthur.l2gb" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".View.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Scenario_View"
            android:label="@string/title_activity_scenario__view" >
        </activity>
        <activity
            android:name=".SemaineList_View"
            android:label="@string/title_activity_semaine_list__view" >
        </activity>
        <activity
            android:name=".View.SemaineConfiguration_View"
            android:label="@string/title_activity_semaine_configuration__view" >
        </activity>
        <activity
            android:name=".View.JoursList_View"
            android:label="@string/title_activity_jours_list__view" >
        </activity>
        <activity
            android:name=".View.JoursConfiguration_View"
            android:label="@string/title_activity_jours_configuration__view" >
        </activity>
        <activity
            android:name=".View.Planning_View"
            android:label="@string/title_activity_planning__view" >
        </activity>
        <activity
            android:name=".View.Consommation_View"
            android:label="@string/title_activity_consommation__view" >
        </activity>
        <activity
            android:name=".View.ViewCreateur"
            android:label="@string/title_activity_view" >
        </activity>
    </application>

</manifest>
